// primary
$primary-color: hsl(172, 67%, 45%);

// secondary
$secondary-color-500: hsl(183, 100%, 15%);
$secondary-color-400: hsl(186, 14%, 43%);
$secondary-color-300: hsl(184, 14%, 56%);
$secondary-color-200: hsl(185, 41%, 84%);
$secondary-color-100: hsl(189, 41%, 97%);

// other
$white: hsl(0, 0%, 100%);
